
body {
    margin: 0;
    padding: 0;
    background: url(#);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background: rgb(248, 220, 220);
    color: rgb(28, 16, 16);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
    background: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type = "text"], input[type = "password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type = "submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #29a0d7;
    color: rgb(9, 19, 57);
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type = "submit"]:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(85, 107, 230);
}

.loginbox a:hover {
    color: rgb(173, 69, 17);
}

